body{
	background: linear-gradient(to right, rgb(93, 133, 122),rgb(242, 209, 178));
	display: flex;
  	justify-content: center;
  	align-items: center;	
  	padding:10%;

}
header{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

h1{
	text-indent: 5%;
	margin: 0px;
	height: 50px;
}
button{
	background-color: rgb(93, 133, 122);
    width: 60px;
	height: 40px;
	border-radius: 50%;
	border:none;
}
button:focus{
	outline: none;
}
#container{
	background-color: rgb(242, 209, 178);
	width: 800px;
	border: 1px solid white;
	margin: 0 auto;
	max-width: 800px;
	max-height: 100%;
 	

}
#push{
	background-color: rgb(242, 209, 178);
	height: 50px;
	width: 50px;
	font-size: 2em;
	margin-left: auto;
	text-align: center;
	font-weight: bold;
	border: none;
	outline:none;

}
#inputToDo{
	width: 300px;
	height: 20px;
	border: none;
	  outline:none;
}
#addToDo{
	display: grid;
	grid-template-columns: 1fr;
	justify-items:center;
	align-items: center;
	}
.inputToDo:focus{

	  border: none;
	  outline:none;
}

#toDoList{
	display: grid;
	grid-template-columns: 3fr 1fr 1fr;
	justify-items:center;
	align-items: center;
	row-gap: 10px;
	column-gap:10px;
	padding-top: 5%;
}
.list{
	background-color: rgb(93, 133, 122);
	width:70%;
	height: 50px;
	font-size: 20px;
	display: flex;
  	justify-content: center;
  	align-items: center;
  }

  .complete{
  		 	text-decoration: line-through;
  }


